<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/fragments.html::header}"></head>

<body id="reportsPage" class="bg02">
<div class="" id="home">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <nav th:replace="~{admin/fragments.html::nav('category')}"
                     class="navbar navbar-expand-xl navbar-light bg-light">
                </nav>
            </div>

        </div>

        <!-- row -->
        <div class="row tm-content-row tm-mt-big">
            <div class="col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                <div class="bg-white tm-block h-100">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <h2 class="tm-block-title d-inline-block">카테고리 목록</h2>
                        </div>
                        <div class="col-md-4 col-sm-12 tm-table-actions-col-right">
                            <a th:href="@{/admin/category/upload}"
                               class="btn btn-small btn-primary">카테고리 추가</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped tm-table-striped-even mt-3">

                            <thead>
                            <tr class="tm-bg-gray">
                                <th scope="col">Id</th>
                                <th scope="col">이름</th>
                                <th scope="col" class="text-center">카테고리 코드</th>
                                <th scope="col" class="text-center">상위 코드</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="category : ${categories}">
                                <div id="pagination">
                                    <td th:text="${category.id}">
                                        <a></a>
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/category/{id}(id=${category.id})}"
                                           th:text="${category.name}"></a></td>
                                    <td class="text-center"
                                        th:text="${category.categoryCode}"></td>
                                    <td class="text-center"
                                        th:text="${category.parentId}"></td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>