<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments.html::header}"></head>

<body class="">
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav th:replace="~{admin/fragments.html::nav-product}"
                 class="navbar navbar-expand-xl navbar-light bg-light">
            </nav>
        </div>
    </div>

    <!-- row -->
    <div class="row tm-mt-big">
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
            <div class="bg-white tm-block">

                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <h2 class="tm-block-title d-inline-block mb-0 mr-3">상품 수정</h2>
                    </div>
                </div>

                <div class="row mt-4 tm-edit-product-row">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <form method="post" role="form"
                              th:action="@{/admin/products/{productId}/edit(productId=${product.id})}"
                              th:object="${product}"
                              class="tm-edit-product-form">

                        <div class="input-group mb-3">
                                <label for="name"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">상품명
                                </label>
                                <input placeholder="Product name" value="In malesuada placerat"
                                       id="name" name="name" type="text"
                                       th:value="${product.name}"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                            </div>

                            <div class="input-group mb-3">
                                <label for="simpleDescription"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">간략한
                                    설명
                                </label>
                                <input placeholder="simpleDescription" value="In malesuada placerat"
                                       id="simpleDescription" name="simpleDescription" type="text"
                                       th:value="${product.simpleDescription}"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                            </div>

                            <div class="input-group mb-3">
                                <label for="description"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">상세
                                    설명
                                </label>
                                <input placeholder="description" value="In malesuada placerat"
                                       id="description" name="description" type="text"
                                       th:value="${product.description}"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                            </div>

                            <div class="input-group mb-3">
                                <label for="price"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">가격</label>
                                <input placeholder="price" value="255" id="price" name="price"
                                       th:value="${product.price}"
                                       type="text"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7">
                            </div>

                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">
                                    수정완료
                                </button>
                            </div>

                        </form>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                        <img src="/images/product-image.jpg" alt="Profile Image"
                             class="img-fluid mx-auto d-block">
                        <div class="custom-file mt-3 mb-3">
                            <input id="fileInput" type="file" style="display:none;"/>
                            <input type="button" class="btn btn-primary d-block mx-auto"
                                   value="Upload ..."
                                   onclick="document.getElementById('fileInput').click();"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>