<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments.html::header}"></head>

<body class="bg02">
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav th:replace="~{admin/fragments.html::nav}"
                 class="navbar navbar-expand-xl navbar-light bg-light">
            </nav>
        </div>
    </div>
    <!-- row -->
    <div class="row tm-mt-big">
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
            <div class="bg-white tm-block">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Edit Product</h2>
                    </div>
                </div>
                <div class="row mt-4 tm-edit-product-row">
                    <div class="col-xl-7 col-lg-7 col-md-12">

                        <!--                        <div class="input-group mb-3">-->
                        <!--                            <label for="name">Product name</label>-->
                        <!--                            <input type="text" id="name" name="name" class="form-control" value="1" th:value="${product.name}" readonly>-->
                        <!--                        </div>-->
                        <!--                        <div class="input-group mb-3">-->
                        <!--                            <label for="simpleDescription">Simple Description</label>-->
                        <!--                            <input type="text" id="simpleDescription" name="simpleDescription" class="form-control" value="상품A" th:value="${product.simpleDescription}" readonly>-->
                        <!--                        </div>-->
                        <!--                        <div class="input-group mb-3">-->
                        <!--                            <label for="description">Description</label>-->
                        <!--                            <input type="text" id="description" name="description" class="form-control" value="10000" th:value="${product.description}" readonly>-->
                        <!--                        </div>-->
                        <!--                        <div class="input-group mb-3">-->
                        <!--                            <label for="price">price</label>-->
                        <!--                            <input type="text" id="price" name="price" class="form-control"-->
                        <!--                                   value="10" th:value="${product.price}" readonly>-->
                        <!--                        </div>-->

                        <!--                        <hr class="my-4">-->

                        <!--                        <div class="row">-->
                        <!--                            <div class="col">-->
                        <!--                                <button class="w-100 btn btn-primary btn-lg"-->
                        <!--                                        onclick="location.href='editForm.html'"-->
                        <!--                                        th:onclick="|location.href='@{/admin/products/{productId}/edit(productId=${product.productId})}'|"-->
                        <!--                                        type="button">상품 수정</button>-->
                        <!--                            </div>-->
                        <!--                            <div class="col">-->
                        <!--                                <button class="w-100 btn btn-secondary btn-lg"-->
                        <!--                                        onclick="location.href='items.html'"-->
                        <!--                                        th:onclick="|location.href='@{/admin/products}'|"-->
                        <!--                                        type="button">목록으로</button>-->
                        <!--                            </div>-->
                        <!--                        </div>-->


                        <div class="input-group mb-3">
                            <label for="name"
                                   class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Product
                                Name
                            </label>
                            <input value="In malesuada placerat" readonly
                                   id="name" name="name" type="text"
                                   th:value="${product.name}"
                                   class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                        </div>
                        <div class="input-group mb-3">
                            <label for="simpleDescription"
                                   class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2">simpleDescription</label>
                            <textarea
                                    th:text="${product.simpleDescription}" readonly
                                    class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                    rows="1"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <label for="description"
                                   class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2">Description</label>
                            <textarea
                                    th:text="${product.description}" readonly
                                    class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                    rows="3"></textarea>
                        </div>

                        <!--                            <div class="input-group mb-3">-->
                        <!--                                <label for="category"-->
                        <!--                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Category</label>-->
                        <!--                                <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7"-->
                        <!--                                        id="category">-->
                        <!--                                    <option value="1" selected>Cras efficitur lacus</option>-->
                        <!--                                    <option value="2">Pellentesque molestie</option>-->
                        <!--                                    <option value="3">Sed feugiat nulla</option>-->
                        <!--                                </select>-->
                        <!--                            </div>-->
                        <!--                            <div class="input-group mb-3">-->
                        <!--                                <label for="expire_date"-->
                        <!--                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Expire-->
                        <!--                                    Date-->
                        <!--                                </label>-->
                        <!--                                <input placeholder="Expire Date" value="2018-10-28" id="expire_date"-->
                        <!--                                       name="expire_date" type="text"-->
                        <!--                                       class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"-->
                        <!--                                       data-large-mode="true">-->
                        <!--                            </div>-->

                        <div class="input-group mb-3">
                            <label for="stock"
                                   class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Units
                                In
                                Stock
                            </label>
                            <input value="255" id="stock" name="stock"
                                   th:value="${product.stock}"
                                   type="text"
                                   class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7"
                                   readonly
                            >
                        </div>
                        <div class="input-group mb-3">
                            <label for="price"
                                   class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Price
                            </label>
                            <input value="255" id="price" name="price"
                                   th:value="${product.price}"
                                   type="text" readonly
                                   class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7">
                        </div>
                        <div class="input-group mb-3">
                            <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                <div class="row">
                                    <div class="input-group mb-3">
                                        <span class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                            <button type="submit" class="btn btn-primary"
                                                    th:onclick="|location.href='@{/admin/products}'|"
                                            >목록으로
                                            </button>
                                        </span>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                            <button type="submit" class="btn btn-primary"
                                                    th:onclick="|location.href='@{/admin/products/{productId}/edit(productId=${product.productId})}'|"
                                            >상품수정
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                        <img src="/images/product-image.jpg" alt="Profile Image"
                             class="img-fluid mx-auto d-block">
                        <div class="custom-file mt-3 mb-3">
                            <input id="fileInput" type="file" style="display:none;"/>
                            <input type="button" class="btn btn-primary d-block mx-auto"
                                   value="Upload ..."
                                   onclick="document.getElementById('fileInput').click();"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
<!-- https://jqueryui.com/download/ -->
<script src="js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script>
    $(function () {
        $('#expire_date').datepicker();
    });
</script>
</body>

</html>