<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments.html::header}"></head>

<body class="">
<div class="container">

    <div class="row">
        <div class="col-12">
            <nav th:replace="~{admin/fragments.html::nav('product')}"
                 class="navbar navbar-expand-xl navbar-light bg-light">
            </nav>
        </div>
    </div>

    <!-- row -->
    <div class="row tm-mt-big">
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
            <div class="bg-white tm-block">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">상품 수정</h2>
                    </div>
                </div>
                <div class="row mt-4 tm-edit-product-row">
                    <div class="col-xl-7 col-lg-7 col-md-12">

                        <form method="post" role="form"
                              th:action="@{/admin/products/{productId}(productId=${product.id})}"
                              th:object="${product}"
                              class="tm-edit-product-form">
                            <div class="input-group mb-3">
                                <label for="name"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">상품명
                                </label>
                                <input placeholder="Product name" value="In malesuada placerat"
                                       readonly
                                       id="name" name="name" type="text"
                                       th:field="*{name}"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                            </div>

                            <div class="input-group mb-3">
                                <label for="simpleDescription"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">간략한
                                    설명
                                </label>
                                <input placeholder="simpleDescription"
                                       id="simpleDescription" name="simpleDescription" type="text"
                                       readonly
                                       th:field="*{simpleDescription}"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                            </div>

                            <div class="input-group mb-3">
                                <label for="description"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">상세
                                    설명
                                </label>
                                <input placeholder="description"
                                       id="description" name="description" type="text"
                                       readonly
                                       th:field="*{description}"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                            </div>

                            <div class="input-group mb-3">
                                <label for="price"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">가격</label>
                                <input id="price" name="price"
                                       th:field="*{price}"
                                       readonly
                                       type="text"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7">
                            </div>

                            <div class="d-flex justify-content-between">
                                <div>
                                    <a href="/admin/products" id="list-btn" class="btn btn-primary">
                                        목록보기
                                    </a>
                                </div>
                                <div>
                                    <button id="modify-btn" class="btn btn-primary" type="button">
                                        수정하기
                                    </button>
                                </div>

                                <button id="complete-btn" class="btn btn-primary" type="submit"
                                        style="display: none">
                                    수정완료
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const modifyButton = document.getElementById('modify-btn');
    const listButton = document.getElementById('list-btn');
    const completeButton = document.getElementById('complete-btn');

    let nameInput = document.getElementById('name');
    let simpleDescriptionInput = document.getElementById('simpleDescription');
    let descriptionInput = document.getElementById('description');
    let priceInput = document.getElementById('price');

    modifyButton.addEventListener('click', () => {
        nameInput.readOnly = false;
        simpleDescriptionInput.readOnly = false;
        descriptionInput.readOnly = false;
        priceInput.readOnly = false;

        modifyButton.style.display = 'none';
        listButton.style.display = 'none';
        completeButton.style.display = 'block';
    })

</script>

</body>
</html>