<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/fragments.html::header}"></head>

<body id="reportsPage" class="bg02">
<div class="" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav th:replace="~{admin/fragments.html::nav-product}"
                     class="navbar navbar-expand-xl navbar-light bg-light">
                </nav>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row tm-mt-big">
            <div class="col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                <div class="bg-white tm-block h-100">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <h2 class="tm-block-title d-inline-block">상품 목록</h2>
                        </div>
                        <div class="col-md-4 col-sm-12 tm-table-actions-col-right">
                            <a th:href="@{/admin/products/add}" class="btn btn-small btn-primary">상품
                                추가</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped tm-table-striped-even mt-3">

                            <thead>
                            <tr class="tm-bg-gray">
                                <th scope="col">Id</th>
                                <th scope="col">상품명</th>
                                <th scope="col" class="text-center">가격</th>
                                <th scope="col" class="text-center">간략한 설명</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="product : ${products}">
                                <div id="pagination">
                                    <td th:text="${product.id}"></td>
                                    <td>
                                        <a th:href="@{/admin/products/{productId}(productId=${product.id})}"
                                           th:text="${product.name}"></a></td>
                                    <td class="text-center"
                                        th:text="${#numbers.formatDecimal(product.price, 2, 'COMMA', 0, 'POINT')} + '원'"></td>


                                    <td class="text-center"
                                        th:text="${product.simpleDescription}"></td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tm-table-mt tm-table-actions-row">
                        <div class="tm-table-actions-col-right">
                            <span class="tm-pagination-label"></span>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{'/admin/products?page=1'}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>

                                    <li class="page-item"
                                        th:each="pageNum : ${#numbers.sequence(1, pageVo.totalPageCount)}">
                                        <a class="page-link"
                                           th:href="@{'/admin/products?page='+${pageNum}}"
                                           th:text="${pageNum}"></a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link"
                                           th:href="@{'/admin/products?page='+${pageVo.totalPageCount}}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-4 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                <div class="bg-white tm-block h-100">
                    <h2 class="tm-block-title d-inline-block">상품 카테고리</h2>
                    <table class="table table-hover table-striped mt-3">
                        <tbody>
                        <tr>
                            <td>1. Cras efficitur lacus</td>
                            <td class="tm-trash-icon-cell"><i
                                    class="fas fa-trash-alt tm-trash-icon"></i></td>
                        </tr>
                        <tr>
                            <td>2. Pellentesque molestie</td>
                            <td class="tm-trash-icon-cell"><i
                                    class="fas fa-trash-alt tm-trash-icon"></i></td>
                        </tr>
                        <tr>
                            <td>3. Sed feugiat nulla</td>
                            <td class="tm-trash-icon-cell"><i
                                    class="fas fa-trash-alt tm-trash-icon"></i></td>
                        </tr>
                        <tr>
                            <td>4. Vestibulum varius arcu</td>
                            <td class="tm-trash-icon-cell"><i
                                    class="fas fa-trash-alt tm-trash-icon"></i></td>
                        </tr>
                        <tr>
                            <td>5. Aenean eget urna enim</td>
                            <td class="tm-trash-icon-cell"><i
                                    class="fas fa-trash-alt tm-trash-icon"></i></td>
                        </tr>

                        </tbody>
                    </table>

                    <a href="#" class="btn btn-primary tm-table-mt">새로운 품목 추가</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

</html>