<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html::head}"></head>

<link rel="stylesheet" href="/css/style.css">
<body>


<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>

<main>
    <nav th:replace="~{fragments.html::nav}"></nav>

    <div id="content" style="margin-top: 200px; padding: 30px">
        <div style="display: flex; justify-content: space-between;">

            <div th:replace="~{member/fragments.html::member-edit}"></div>

            <div style="flex-basis: 68%; border-top: 2px solid black;" th:object="${member}">
                <table class="table">
                    <thead>
                    <div class="form-group">
                        <input id="member-id" name="id"
                               type="hidden">
                    </div>
                    <tr>
                        <th scope="col">아이디(이메일)</th>
                        <th colspan="2" scope="col" th:text="${member.email}">First</th>
                    </tr>
                    <tr>
                        <th scope="col">이름</th>
                        <th scope="col" th:text="${member.username}"></th>
                    </tr>
                    <tr>
                        <th scope="col">전화번호</th>
                        <th scope="col" th:text="${member.phoneNumber}"></th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="2">
                            <a th:href="@{/member/check-password}" class="btn btn-primary">개인 정보
                                수정하기</a>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="fragments.html::footer"></th:block>
</body>

</html>
