<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html::head}">
</head>
<style>
  .field-error {
    border-color: #dc3545;
    color: #dc3545;
  }
</style>

<body>

<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>

<main>
    <nav th:replace="~{fragments.html::nav}"></nav>

    <section class="sign-in-form section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 mx-auto col-12">

                    <h1 class="hero-title text-center mb-5">Sign In</h1>

                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <form role="form" th:action="@{/login}" method="post">
                                <div class="form-floating mb-4 p-0">
                                    <input type="email" pattern="[^ @]*@[^ @]*"
                                           name="username"
                                           class="form-control"
                                           placeholder="Email address" required>
                                    <label th:for="email">Email address</label>
                                    <!--                                    <div class="field-error" th:errors="*{email}"></div>-->
                                </div>

                                <div class="form-floating p-0">
                                    <input type="password" class="form-control"
                                           name="password"
                                           placeholder="Password" required>
                                    <label th:for="password">Password</label>
                                    <!--                                    <div class="field-error" th:errors="*{password}" />-->
                                </div>

                                <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                    Sign in
                                </button>

                                <p class="text-center">Don’t have an account? <a
                                        th:href="@{/member/sign-up}">Create
                                    One</a>
                                </p>

                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

</main>


<footer th:replace="~{fragments.html::footer}"></footer>
</body>
</html>
