<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tooplate's Little Fashion - Sign Up Page</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap"
          rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/slick.css"/>
    <link href="/css/tooplate-little-fashion.css" rel="stylesheet">

    <!-- JAVASCRIPT FILES -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Headroom.js"></script>
    <script src="/js/jQuery.headroom.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/custom.js"></script>
</head>

<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" th:href="@{/}">
            <strong><span>Little</span> Fashion</strong>
        </a>
        <div class="d-lg-none">
            <a th:href="@{/login}" class="bi-person custom-icon me-3"></a>
            <a th:href="@{/product/product-detail}" class="bi-bag custom-icon"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product}">Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>

            <div class="d-none d-lg-block" sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="bi-person custom-icon me-3"></a>
                <a th:href="@{/product/product-detail}" class="bi-bag custom-icon"></a>
            </div>

            <div class="d-none d-lg-block" sec:authorize="isAuthenticated()">
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}">
                    관리자페이지
                </a>
                <a th:href="@{/my-info}">마이페이지</a>
                <!--                <a th:href="@{/member/check-password}">마이페이지</a>-->
                <!-- a태그 get 요청 -> logout post 요청 -> form-->
                <form th:action="@{/logout}" method="post">
                    <button type="submit">로그아웃</button>
                </form>

                <a th:href="@{/cart}" class="bi-bag custom-icon"></a>
            </div>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-10 me-auto mb-4">
                <h4 class="text-white mb-3"><a href="index.html">Little</a> Fashion</h4>
                <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2022 <strong>Little
                    Fashion</strong></p>
                <br>
                <p class="copyright-text">Designed by <a href="https://www.tooplate.com/"
                                                         target="_blank">Tooplate</a>
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>